.nav-brand img{
	height: 2.5em;
	width: 2.5em;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}
li{
	font-size: 1.5em;
}
body{
	position: relative;
	
}
.con{
	font-size: 20px;
	color: red;
}
#extra{
	height: 500px;
	background-color: greenyellow;
}
#infor{
	height: 1000px;
	background-color: burlywood;
}
ul .active{
	border-bottom: 2px solid red;
}
